@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --body-bg-color: #202024;
  --text-color: #e1e1e6;
  --text-color-rs: #996dff;
  --title-color: #04d361;
  --bg-button: #00b37e;
  --bg-button-hover: #00875f;
  --color-shape-primary: #323238;
  --color-rs-low: #633bbc;
}

body {
  margin: 0;
  font-family: Roboto;
  font-size: 1em;
  color: var(--text-color);
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  background-color: var(--color-shape-primary);
}

h1 {
  color: var(--text-color-rs);
}
